

#container{
  width: 100vw;
  height: 100vh;
  background-color: #afb3bc;
}
.navigation{
  height: 8%;
}
#message-container{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: auto;

  width: 100%;
  height: 92%;
  border: 1px solid black;

  padding: 20px 20px;
  box-shadow: 1em 0.5em 1em grey;
  background-color: #1a1b1e;
  color: #e1e4ea;
}
#right-panel{
  width: 17%;
  position: absolute;
  right: 1%;
  top: 2%;
  height: 88%;
  border: 1px solid black;
  background-color: #404247;
  color: white;

  padding: 5px;
}
#user-list{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height:50%;
  border-bottom: solid 1px black;
}
#room-list{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 50%;
}
#message-window{
  margin: auto;
  position: absolute;
  top: 2%;
  width: 80%;
  height: 88%;
  overflow-y: scroll;
  background-color: #404247;
  color: white;
  left: 1%;
  padding: 10px;

}
#textInput{
  position: absolute;
  bottom: 10px;
  width: 80%;
  left: 10%;
}
#textField{
  background-color: #404247;
  color: white;
}
.message-item{
  width: 100%;

}

.clickedItem{
  background-color: #afb3bc;
  color: black;
}
.nameStyle{
  font-weight: bold;
  color: #d8e5ff;
}
.privateStyle{
  font-weight: bold;
  color: #5ee539
}
.headings{
  font-weight: bold;
  color: #d8e5ff;
  align-self: center;

}
.nav-items{
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.clickable{
  cursor: pointer;
}
.rangeDiv{
  width: 100%;
  margin: auto;
}
.rangeInput{
  width: 75%;
}
label{
  margin: 10px;
}
.warning{
  color: #f7314b;
  font-weight: bold;
  background-color: #afb3bc;
  width: 100%;
}
.alert{
  position: absolute;
  width: 75%;
  top: 50px;
  z-index: 2;
}
.alert-container{
  position: relative;
}
