.navigation {
  background-color: #afb3bc;
}

#container {
  width: 100vw;
  height: 92vh;
  background-color: #afb3bc;
}
.navigation {
  height: 8%;
}
#message-container {
  display: flex;

  justify-content: flex-start;
  margin: auto;

  width: 100%;
  height: 100%;
  border: 1px solid black;

  background-color: #1a1b1e;
  color: #e1e4ea;
}
#right-panel {
  width: 17%;
  margin-top: 1%;
  padding: 0.5%;
  height: 88%;
  border: 1px solid black;
  background-color: #404247;
  color: white;
  overflow: hidden;
}
#user-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 50%;
  border-bottom: solid 1px black;
}
#room-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 50%;
}
#message-window {
  padding: 0.5%;
  margin-left: 1%;
  margin-top: 1%;
  margin-right: 1%;
  width: 80%;
  height: 88%;
  overflow-y: scroll;
  background-color: #404247;
  color: white;
}
#textInput {
  position: fixed;
  bottom: 2%;
  width: 80%;
  left: 10%;
}
.textField {
  background-color: #404247;
  color: white;
}
.message-item {
  width: 100%;
}

.clickedItem {
  background-color: #afb3bc;
  color: black;
}
.nameStyle {
  font-weight: bold;
  color: #d8e5ff;
}
.privateStyle {
  font-weight: bold;
  color: #5ee539;
}
.headings {
  font-weight: bold;
  color: #d8e5ff;
  align-self: center;
}
.nav-items {
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.clickable {
  cursor: pointer;
}
.rangeDiv {
  width: 100%;
  margin: auto;
}
.rangeInput {
  width: 70%;
}
label {
  margin: 10px;
}
.warning {
  color: #f7314b;
  font-weight: bold;
  background-color: #afb3bc;
  width: 100%;
}
.custom-alert {
  position: absolute;
  width: 75%;
  top: 50px;
  z-index: 2;
}
.alert-container {
  position: relative;
}
.portrait-nav {
  display: block;
}
@media only screen and (orientation: portrait) {
  #message-container {
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }
  #message-window {
    height: 60%;
    width: 98%;
    margin-right: 1%;
  }
  #right-panel {
    margin-left: 1%;
    display: flex;
    height: 28%;
    width: 98%;
    flex-direction: row;
    justify-content: space-between;
  }
  #user-list {
    width: 50%;
    height: 100%;
    border-bottom: none;
    border-right: 1px solid black;
  }
  #room-list {
    width: 50%;
    height: 100%;
  }
}
