doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#container
      div#message-display
      form#message-form
        input#message-input 
        button#send Send
    script(src="http://localhost:3000/socket.io/socket.io.js")
    script.
      var socket = io();

    block content
