#register-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 70px;
  color: white;
  width: 100vw;
  height: 95vh;
  background-color: #404247;
  background-image: url(./radioImg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#registration-form {
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 300px;
  height: 40%;
  margin-top: 50px;
}
.register-input {
  background-color: #222428;
  color: white;
  width: 100%;
}
.form-group {
  width: 100%;
}
.title {
  opacity: 0.9;
  padding: 5px;
  background-color: #222428;
  color: white;
  border-radius: 3%;
}
